/Dynamics.class
/Lorenz$LorenzDynamics.class
/Lorenz.class
/Uebung4_Vectorfield$LorenzDynamics.class
/Uebung4_Vectorfield.class
/GyroDynamics.class
/SlerpTest.class
/Uebung5_CubeInSpace.class
/WinkelBeschleun$PendelDynamics.class
/WinkelBeschleun.class
/QuaderV3.class
